a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #ff4c8e;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	outline: 0;
}


/* 상단 네이게이터 s(기본사이즈 삼성 tab S)*/
/* 상단 네비 */
.navbar {
    display: flex;
    border-bottom: 2px dashed #aaaaaa;
    font-weight: 600;
    font-size: 18px;
    height: 70px;
    margin-top: 8px;
}

/* 좌측 상표명 - 지점명 가능 */
.navbar-header {
    display: flex;
    flex: 1;
    font-size: 35px;
    padding: 15px;
}

/* 지점명 */
.navbar-header .headerbranch {
    color: #aaa;
    font-size: 10px;
    vertical-align: super;
}

/* 우측 메뉴 */
.nav{
    flex: 2.5;
    padding-left: 0px;
}

.navbar .nav > ul{
    float: right;
    margin-right: 15px;
}

.navbar .nav > li {
    float: left;
    list-style-type: none;
    padding: 10px;
}

.active * {
    color: #ff4c8e !important;
}
/* 상단 네이게이터 e*/
/* ------------------------------------------------------- */
/* 크기에 따른 구분 */

@media ( max-width : 360px) {
	/* 상단 네비 */
    .navbar {
        display: inline-block;
        border-bottom: 2px dashed #aaaaaa;
        font-size: 5px;
        width: 100%;
        height: 80px;
    }

    /* 좌측 상표명 - 지점명 가능 */
    .navbar-header {
        display: inline-block;
        font-size: 30px;
        padding: 0px;
        padding-left: 20px;
    }


    /* 우측 메뉴 */
    .nav {
        display: inline-block;
        padding: 0px;
    }

    .navbar .nav > ul{
        block-size: 40%;
        margin: 0 0px;
        padding: 10px;
    }

    .navbar .nav > li {
        padding: 5px;
    }
}

@media ( min-width : 361px) and ( max-width : 767px) {
	/* 상단 네비 */
    .navbar {
        border-bottom: 1px dashed #aaaaaa;
        font-size: 12px;
        height: 50px;
    }

    /* 좌측 상표명 - 지점명 가능 */
    .navbar-header {
        font-size: 20px;
        padding: 10px;
    }

    /* 우측 메뉴 */
    .navbar .nav > ul{
        margin-right: 10px;
    }

    .navbar .nav > li {
        padding: 5px;
    }
}

@media ( min-width : 768px) and (max-width: 979px) {
}