@import
	url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600')
	;

* {
	box-shadow: none !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false)
		!important;
	text-shadow: none !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 550;
}

.navbar * {
	background-image: none !important;
}

.wrapper {
	padding-top: 20px;
}

form * {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/* input, textarea {
	background-image: none !important;
	border: 1px solid #ccc !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
}
 */
select {
	font-size: 13px !important;
}

.btn {
	background-image: none !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.btn.btn-mini {
	font-size: 11px !important;
}

body {
	overflow: hidden;
	font-size: 15px;
	line-height: 23px;
	color: #000;
	background: #fff;
	padding-top: 40px;
	-webkit-font-smoothing: antialiased;
	min-height: 100vmin;
}

h1, h2, h3, h4, h5, h6 {
	padding: 2px 0px;
	margin: 5px 0px;
	color: #777;
	font-weight: 400;
}

h2 {
	font-size: 30px;
	line-height: 40px;
}

h3 {
	font-size: 23px;
	line-height: 33px;
}

h4 {
	font-size: 20px;
	line-height: 30px;
}

h5 {
	font-size: 18px;
	line-height: 38px;
}

h6 {
	font-size: 15px;
	line-height: 25px;
}

p {
	padding: 1px 0px !important;
	margin: 1px 0px !important;
}

a {
	color: #333;
	text-decoration: none !important;
}

a:hover {
	color: #888;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	outline: 0;
}

.bold {
	font-weight: 600;
}

hr {
	margin: 8px 0px 8px 0px !important;
	padding: 0px !important;
	border-top: 0px;
	border-bottom: 1px solid #ddd !important;
	height: 0px;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

.well {
	padding: 10px 15px;
}

.btn {
	font-size: 13px
}

a.btn {
	font-size: 13px
}

.label {
	font-weight: 400;
    padding: 3px 6px;
    font-size: 13px;
}

.badge {
	font-weight: 400;
	padding: 3px 8px;
	font-size: 13px;
}

.progress {
	height: 17px;
	line-height: 17px;
	margin: 5px 0px !important;
	border: 0px;
}

.progress .bar {
	font-size: 12px;
}

.picker {
	padding: 5px;
	border-radius: 5px !important;
}

/* Sparkline tooltip */
.jqstooltip {
	width: auto !important;
	height: auto !important;
	border-radius: 5px;
	padding: 4px 6px !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border: 0 !important;
}

/* Button colors */
.btn.btn-primary {
	background: #1171a3 !important;
}

.btn.btn-primary:hover {
	background: #0f608b !important;
}

.btn.btn-info {
	background: #52b9e9 !important;
}

.btn.btn-info:hover {
	background: #459fc9 !important;
}

.btn.btn-success {
	background: #43c83c !important;
}

.btn.btn-success:hover {
	background: #36a530 !important;
}

.btn.btn-warning {
	background: #f88529 !important;
}

.btn.btn-warning:hover {
	background: #d67323 !important;
}

.btn.btn-danger {
	background: #fa3031 !important;
}

.btn.btn-danger:hover {
	background: #d82829 !important;
}

/* Label colors */
.label.label-success, .badge.badge-success {
	background: #43c83c !important;
}

.label.label-warning, .badge.badge-warning {
	background: #f88529 !important;
}

.label.label-important, .badge.badge-important {
	background: #fa3031 !important;
}

.label.label-info, .badge.badge-info {
	background: #52b9e9 !important;
}

/* Background colors */
.blightblue {
	background: #52b9e9 !important;
	color: #fff !important;
	border: 0px !important;
}

.bblue {
	background: #1171a3 !important;
	color: #fff !important;
	border: 0px !important;
}

.bgreen {
	background: #43c83c !important;
	color: #fff !important;
	border: 0px !important;
}

.borange {
	background: #f88529 !important;
	color: #fff !important;
	border: 0px !important;
}

.bred {
	background: #fa3031 !important;
	color: #fff !important;
	border: 0px !important;
}

.bviolet {
	background: #932ab6 !important;
	color: #fff !important;
	border: 0px !important;
}

.blightblue h2, .blightblue h3, .blightblue h3, .blightblue h4,
	.blightblue h5, .blightblue h6, .bblue h2, .bblue h3, .bblue h3, .bblue h4,
	.bblue h5, .bblue h6, .bgreen h2, .bgreen h3, .bgreen h3, .bgreen h4,
	.bgreen h5, .bgreen h6, .bred h2, .bred h3, .bred h3, .bred h4, .bred h5,
	.bred h6, .bviolet h2, .bviolet h3, .bviolet h3, .bviolet h4, .bviolet h5,
	.bviolet h6, .borange h2, .borange h3, .borange h3, .borange h4,
	.borange h5, .borange h6 {
	color: #fff !important;
}

.blightblue a, .bblue a, .bgreen a, .bred a, .borange a, .bviolet a {
	color: #eee !important;
}

.blightblue a:hover, .bblue a:hover, .bgreen a:hover, .bred a:hover,
	.borange a:hover, .bviolet a:hover {
	color: #ddd !important;
}

/* Text colors */
.lightblue {
	color: #52b9e9 !important;
}

.blue {
	color: #1171a3 !important;
}

.green {
	color: #43c83c !important;
}

.orange {
	color: #f88529 !important;
}

.red {
	color: #fa3031 !important;
}

.violet {
	color: #932ab6 !important;
}

/* Modal */
.modal-header {
	padding-top: 7px;
	padding-bottom: 7px;
}

/* Form */
form {
	margin: 10px 0px;
}

.form-inline button {
	margin-left: 15px;
}

/* Back to top */
.totop {
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 104400;
	background: #fa3031;
}

.totop a, .totop a:visited {
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.totop a:hover {
	color: #eee;
	text-decoration: none;
}

/* Half column - CHECK LATER */
.col-left {
	width: 48%;
	float: left;
}

.col-right {
	width: 48%;
	float: right;
}

/* Dropdown menu */
.dropdown-big .dropdown-menu {
	min-width: 250px;
	padding: 8px 10px;
	background: #fff;
}

.dropdown-big .dropdown-menu p {
	margin: 1px 0px;
	padding: 1px 0px;
	font-size: 12px;
	line-height: 18px;
}

.dropdown-big .dropdown-menu a {
	font-size: 13px;
	line-height: 23px;
	background: transparent;
	padding: 0px;
	color: #444 !important;
	display: inline;
}

.dropdown-big .dropdown-menu a:hover {
	color: #777 !important;
	background: transparent !important;
}

.dropdown-big .dropdown-menu .drop-foot {
	text-align: center;
}

.dropdown-big .dropdown-menu .drop-foot a {
	font-size: 12px !important;
}

.dropdown-big .dropdown-menu hr {
	padding: 0px;
	margin: 8px 0px;
	border-top: 0px solid #aaa;
	border-bottom: 1px solid #eee;
}

.dropdown-big .dropdown-menu h5 {
	color: #666 !important;
	line-height: 18px;
	font-weight: bold;
	font-size: 13px;
}

.dropdown-menu {
	background: #fff;
	border-radius: 0px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.dropdown-menu li {
	color: #777;
	font-size: 13px;
	line-height: 18px;
}

.dropdown-menu li>a {
	color: #555;
	line-height: 23px !important;
}

.dropdown-menu li>a:hover {
	background: #f9f9f9 !important;
	filter: none;
	color: #888;
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
	filter: none !important;
	background: #fff !important;
}

.dropdown-menu::after, .dropdown-menu::before {
	border: none !important;
}

/* 상단 메뉴 */
.navbar * {
	text-shadow: none !important;
	color: #000;
}

.navbar .container {
	width: 100%;
}

.navbar {
	background: #fff;
	border-bottom: 1px dashed #aaaaaa;
}

/* .navbar .nav > li {
	border-left: 2px solid #000;	
} */
.navbar .nav>li>a {
	font-size: 15px !important;
}

.navbar i {
	margin-right: 3px;
}

.navbar .caret {
	border-top-color: #fff !important;
	border-bottom-color: #fff !important;
}

.navbar .nav-user-pic {
	width: 20px;
	margin-right: 10px;
	display: inline-block;
}

.navbar .badge {
	margin-left: 5px;
}

/* 좌측 메뉴 */
.sidebar {
	width: 130px;
	float: left;
	display: block;
	background: #fff;
	color: #000;
	/* 좌측 메뉴 고정을 위한 설정 */
	position: fixed;
	margin-left: 10px;
	margin-top: 20px;
	z-index: 10;
}

.sidebar ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.sidebar ul li {
	list-style-type: none;
}

.sidebar .sidebar-inner {
	display: block;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	background: #fff;
}

.sidebar .navi li i {
	margin-right: 5px;
}

.sidebar .navi li span i {
	margin: 0px;
}

/* 좌측 메뉴 글자 설정 */
.sidebar .navi>li>a {
	display: block;
	font-size: 13px;
	font-weight: 600;
	color: #000;
	padding: 10px 15px;
	border-bottom: 1px solid #aaaaaa;
}

.sidebar .navi>li>a:hover, .sidebar .navi>li.open>a {
	border-bottom: 1px solid #fff;
	background-color: #F18AB5;
	color: #fff;
}

.sidebar .navi li ul {
	display: none;
	background: #181818;
}

.sidebar .navi li.open ul {
	display: block;
}

.sidebar .navi li ul li a {
	display: block;
	background: none;
	padding: 10px 0px;
	padding-left: 42px;
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #222;
}

.sidebar .navi li ul li.active a {
	background: #050505;
	border-bottom: 1px solid #222;
}

/* .sidebar .navi li ul li.active a:hover {
	background: #050505;
} */

.sidebar .navi li ul li a:hover {
	background: #131313;
	border-bottom: 1px solid #222;
}

/* 사이드바 칼라 */
.sidebar .navi>li.npink>a:hover, .sidebar .navi>li.open.npink>a,
	.sidebar .navi>li.current.npink>a {
	color: white;
	background: #ff4c8e !important;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

/* 폰사이즈 메뉴다운 */
.sidebar .sidebar-dropdown* {
	text-decoration: none;
}

.sidebar .sidebar-dropdown {
	display: none;
}

.sidebar .sidebar-dropdown a {
	color: #000;
	background-color: #fff;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 19px;
	display: block;
	border-bottom: 1px dashed #aaa;
}

.sidebar .sidebar-dropdown a:active {
	background-color: #ff4c8e;
	color: white;
}

/* Date & Time Picker */
/* .dtpicker{
	max-width:120px;
	display:inline-block;
} */

/* Sidebar widget */
/* .sidebar .sidebar-widget{
	padding: 15px;
}
.sidebar .ui-datepicker{
	width: 95%;
	margin: 0 auto;
	background: #111;
	color: #888;
	border: 0px;
	padding: 0px;
}

.sidebar .ui-datepicker-header{
	background: #222;
	color:#999 !important;
	border: 1px solid #212121;
}

.sidebar .ui-datepicker-next, .sidebar .ui-datepicker-prev{
	background:#333;
	width:20px;
	height:20px;
	top:6px;
	border-radius:50px !important;
}

.sidebar .ui-datepicker-prev:hover{
	background: transparent;
	border: 0px;
	left: 2px !important;
}

.sidebar .ui-datepicker-next:hover{
	background: transparent;
	border: 0px;
	right: 2px !important;
}

.sidebar .ui-state-default{
	background: #222;
	border: 0px;
	text-align: center;
	color: #ccc;
}

.sidebar .ui-state-default:hover{
	background: #282828;
	color: #999;
}

.sidebar .ui-state-hightlight, .sidebar .ui-state-active{
	background: #444;
} */

/* Main */
.mainbar {
	position: relative;
	margin-left: 135px;
	margin-right: 0px;
	width: auto;
	background: #fff;
	height: auto;
	max-height: 90vmin;
}

.mainbar .container {
	max-width: 100% !important;
}

/* Pagination*/
.pagination {
	margin: 10px 0px 5px 0px;
}

.pagination li a, .pagination li span {
	border: 1px solid #ccc;
	margin-right: 3px;
	padding: 3px 8px;
	background-color: #fff;
	color: #666;
}

.pagination li a:hover {
	color: #333;
	background: #fafafa;
}

/* 메인 페이지 상단 타이틀 */
.mainbar .page-head {
	padding: 0px 20px;
	border-bottom: 1px solid #fff;
}

/* 메인 페이지 상단 부제목 */
.mainbar .page-meta {
	font-size: 13px;
	line-height: 15px;
	margin-left: 2px;
	display: block;
}

/* Bread crumb */
.mainbar .bread-crumb {
	font-size: 13px;
	margin-top: 15px;
	color: #aaa;
	margin-left: 2px;
}

.mainbar .bread-crumb i {
	margin-right: 3px;
	display: inline;
	position: static;
	top: 0px;
	width: auto;
}

.mainbar .bread-crumb .divider {
	margin: 0px 3px;
}

.mainbar .bread-crumb a {
	color: #666;
}

.mainbar .bread-crumb a.bread-current {
	color: #888;
}

/* Notificationj Box*/
.slide-box {
	width: 270px;
	z-index: 400;
	position: fixed;
	bottom: 0px;
	right: 5px;
}

.slide-box .slide-box-head {
	line-height: 42px;
	height: 42px;
	cursor: pointer;
	font-size: 15px;
	padding-left: 10px;
}

.slide-box .slide-box-head i {
	margin-right: 10px;
	font-size: 12px;
}

.slide-box .slide-content {
	margin: 0px;
	padding: 0px;
	background: #000;
	min-height: 300px;
}

.slide-content .nav-tabs {
	border-bottom: 1px solid #222 !important;
	margin-bottom: 0px !important;
}

.slide-content .nav-tabs>li>a {
	background: #111 !important;
	margin: 0px !important;
	border: 1px solid #222 !important;
	color: #888 !important;
}

.slide-content .nav-tabs>li.active>a {
	color: #ccc !important;
	background: #1c1c1c !important;
}

.slide-content .tab-content {
	padding: 10px;
}

.slide-content hr {
	border-bottom: 1px solid #212121 !important;
}

/* Slidebox data */
.slide-data {
	background: #111;
	border: 1px solid #222;
	margin: 0px;
	margin-bottom: 10px;
	padding: 5px;
}

.slide-data .slide-data-text {
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	float: left;
	width: 60%;
}

.slide-data .slide-data-result {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	float: right;
	width: 40%;
}

.slide-data .slide-data-result i {
	font-size: 14px;
}

/* 메인 페이지 */
.mainbar .matter {
	/* 	border-top: 1px solid #ddd; */
	/* 	padding: 15px 0px; */
	
}

.mainbar .matter>.container {
	margin-left: 0px;
	margin-top: 0px;
}

/* Widget */
.widget {
	margin-top: 10px;
	margin-bottom: 20px;
	background: #fff;
}

.widget hr {
	margin: 4px 0px;
	padding: 4px 0px;
	border-top: 0px;
	border-bottom: 1px solid #ddd;
}

.widget .table {
	margin: 0px;
	width: 100%;
}

.widget .table-bordered {
	border: 0px;
}

.widget .table-bordered th {
	border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered td {
	border-top: 0px !important;
	border-bottom: 1px solid #ccc !important;
}

.widget .table-bordered tr:last-child td {
	border-bottom: 0px !important;
}

.widget .table-bordered td:first-child, .widget .table-bordered th:first-child
	{
	border-left: 0px;
}

.widget .table-bordered td:last-child, .widget .table-bordered th:last-child
	{
	border-right: 0px;
}

.widget .padd {
	padding: 15px;
}

.widget .widget-head {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #777;
	font-size: 18px;
	padding: 12px 15px;
}

.widget .widget-head .widget-icons i {
	font-size: 14px;
	margin: 0px 4px;
}

.widget .widget-head .widget-icons a {
	color: #aaa;
}

.widget .widget-head .widget-icons a:hover {
	color: #888;
}

.widget .widget-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.widget .widget-foot {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-top: 0px;
	padding: 8px 15px;
	font-size: 13px;
	color: #555;
}

/* Widget Content */
.chats {
	padding-left: 0px;
	margin-left: 0px;
}

.recent {
	padding-left: 0px;
	margin-left: 0px;
}

.quick-post .checkbox label {
	display: inline-block;
}

.quick-post .radio label {
	display: inline-block;
}

.widget-foot .form-inline button {
	margin-left: -3px;
	padding: 6px 12px;
}

.widget-content .form-inline button {
	margin-left: 0px;
	padding: 6px 12px;
}

.buttons button {
	margin-top: 10px;
}

.widget-content .checkbox label {
	display: inline-block;
}

.widget-content ul.project>li>p>.p-input {
	display: block;
	width: 14px;
	float: left;
	margin-right: 4px;
	margin-top: 5px;
}

.widget-content ul.project>li>p>span.p-heading {
	font-weight: 600;
}

.widget-content ol#slist {
	padding: 0px;
}

/* Widget colors */
.widget.wred .widget-head {
	background-color: #fa3031;
	border: 1px solid #fa3031;
	color: #fff;
}

.widget.wlightblue .widget-head {
	background-color: #52b9e9;
	border: 1px solid #52b9e9;
	color: #fff;
}

.widget.wblue .widget-head {
	background-color: #1171a3;
	border: 1px solid #1171a3;
	color: #fff;
}

.widget.wgreen .widget-head {
	background-color: #43c83c;
	border: 1px solid #43c83c;
	color: #fff;
}

.widget.worange .widget-head {
	background-color: #f88529;
	border: 1px solid #f88529;
	color: #fff;
}

.widget.wviolet .widget-head {
	background-color: #932ab6;
	border: 1px solid #932ab6;
	color: #fff;
}

.widget.wred .widget-head .widget-icons a, .widget.wblue .widget-head .widget-icons a,
	.widget.wlightblue .widget-head .widget-icons a, .widget.worange .widget-head .widget-icons a,
	.widget.wgreen .widget-head .widget-icons a, .widget.wviolet .widget-head .widget-icons a
	{
	color: #fff;
}

.widget.wred .widget-head .widget-icons a:hover, .widget.wblue .widget-head .widget-icons a:hover,
	.widget.wlightblue .widget-head .widget-icons a:hover, .widget.worange .widget-head .widget-icons a:hover,
	.widget.wgreen .widget-head .widget-icons a:hover, .widget.wviolet .widget-head .widget-icons a:hover
	{
	color: #eee;
}

/* Widget white extras */
.widget .nav-tabs>li a {
	padding: 5px 10px;
}

.widget .nav-tabs {
	margin-bottom: 5px;
}

.widget .tab-content {
	margin-bottom: 10px;
}

/* Calendar */
.fc-header-title h2 {
	font-size: 15px;
	line-height: 20px;
}

.fc-event-skin {
	background-color: #ff5d5e;
	border-color: #ff3839;
}

.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
	right: 20px;
}

.fc-state-default {
	background: #eee !important;
}

.fc-state-default:hover {
	background: #ddd !important;
}

.fc-widget-header {
	padding: 7px 0px !important;
	color: #666;
	background: #eee;
	border-color: #ccc;
}

.fc-content td:hover {
	background: #f3f3f3;
}

/* Current status */
.current-status {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.current-status .bold {
	font-size: 13px;
	margin-left: 8px;
}

.current-status li {
	padding: 10px 0px;
}

/* Knob */
.dial {
	border: 0px !important;
}

/* Today datas */
.today-datas {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.today-datas li {
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
	padding: 20px 15px;
	background-color: #f8f8f8;
	background: #f8f8f8;
	border: 1px solid #ccc;
	max-width: 100%;
	text-align: center;
}

.today-datas li .spark {
	margin-right: 10px;
}

.today-datas li .datas-text {
	font-size: 13px;
	padding: 7px 0px 0px 0px;
	font-weight: normal;
}

.today-datas li .datas-text span {
	display: block;
	font-size: 24px;
	margin-bottom: 5px;
}

.today-datas li i {
	font-size: 50px;
	margin-right: 10px;
}

.today-datas li .dial {
	margin-right: 10px !important;
}

/* Profile */
.profile {
	margin-top: 15px;
}

/* Error */
.error-page {
	max-width: 500px;
	margin: 50px auto;
}

.error h1 {
	font-weight: normal;
}

.error form {
	margin: 0;
}

/* Grid */
.show-grid {
	margin: 0;
}

.show-grid div {
	background: #eee;
	text-align: center;
	margin: 10px 0px;
	padding: 0 15px;
	border: 1px solid #ddd;
}

/* Slider */
#eq span {
	height: 120px;
	float: left;
	margin: 15px;
}

.ui-slider-vertical .ui-slider-handle {
	left: -18px !important;
	margin-bottom: -.6em !important;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em !important;
	cursor: default;
	background: #fafafa !important;
	border: 1px solid #ccc !important;
}

.ui-slider-horizontal {
	height: .5em;
	border: 0px solid #eee !important;
	background: #dfdfdf !important;
}

.ui-slider-vertical {
	height: 100px;
	width: 0.5em;
	border: 0px solid #fff !important;
	background: #dfdfdf !important;
}

#master1, #master2, #master3, #master4, #master5, #master6 {
	width: 100%;
	margin: 15px 0px !important;
}

.slider-red .ui-widget-header {
	background: #dd514c !important;
	border-color: #dd514c !important;
}

.slider-blue .ui-widget-header {
	background: #36a5c6 !important;
	border-color: #36a5c6 !important;
}

.slider-green .ui-widget-header {
	background: #44c636 !important;
	border-color: #44c636 !important;
}

.slider-yellow .ui-widget-header {
	background: #fcd419 !important;
	border-color: #fcd419 !important;
}

.slider-orange .ui-widget-header {
	background: #fc9419 !important;
	border-color: #fc9419 !important;
}

.slider-violet .ui-widget-header {
	background: #9919fc !important;
	border-color: #9919fc !important;
}

/* Toggle button */
.make-switch {
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 8px;
}

/* Gallery */
.gallery img {
	width: 100%;
	max-width: 190px;
	margin: 5px;
}

/* Error log */
.error-log {
	height: 400px;
	overflow: auto;
}

.error-log ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.error-log ul li {
	padding: 10px 0px;
}

/* Media */
.medias .checker {
	width: 5px !important;
}

.medias img {
	max-width: 40px;
}

/* CL Editor */
.cleditorMain {
	border: 1px solid #ccc;
	margin: 10px 0px;
}

.cleditorMain textarea, .cleditorMain iframe {
	width: 100% !important;
}

/* Chart */
#curve-chart, #live-chart, #pie-chart, #pie-chart2, #pie-chart3 {
	height: 250px;
	max-width: 100%;
}

#bar-chart {
	height: 283px;
	width: 99.5%;
}

#pie-chart, #pie-chart2, #pie-chart3 {
	max-width: 300px;
	margin: 10px auto;
}

/* Support page */
#slist p {
	display: none;
	margin: 5px 0px;
	padding: 5px 10px !important;
	background: #fff;
	line-height: 25px;
	border: 1px solid #eee;
}

#slist {
	margin-left: 20px;
}

#slist li {
	margin-bottom: 10px;
}

#slist li a {
	display: block;
	margin-bottom: 0px;
}

.support-contact i {
	margin-right: 3px;
}

/* Post form */
.post {
	margin-top: 20px;
}

/* Login and Register form */
.admin-form {
	max-width: 500px;
	margin: 50px auto;
}

.admin-form form {
	padding-top: 10px;
}

/* Invoice */
.invoice .table-bordered {
	border: 1px solid #ddd;
}

/* Statements */
.statement .table-bordered {
	border: 1px solid #ddd;
}

/* Support Filter */
.filterinput {
	padding-left: 5px;
}

/* Responsive */
@media ( max-width : 480px) {
	.mainbar .page-head h2 {
		float: none;
	}
	.mainbar .bread-crumb {
		float: none;
		margin-top: 10px;
	}
	.col-left {
		width: 100%;
		float: none;
		margin-right: none;
	}
	.col-right {
		width: 100%;
		float: none;
	}
	.fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
		display: none;
	}
}

/* 모바일 사이드 바 */
@media ( max-width : 767px) {
	body {
		margin: 0 auto;
	}
	.mainbar .matter {
		padding-left: 20px;
		padding-right: 20px;
	}
	.form-inline button {
		margin-left: 0px;
	}
	.navbar, .navbar-inner {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu {
		color: #bbb !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu a {
		color: #ccc !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu a:hover {
		color: #aaa !important;
	}
	.navbar-collapse .dropdown-big .dropdown-menu h5 {
		color: #eee !important;
	}
	.navbar-collapse .dropdown-menu {
		padding: 10px 10px !important;
	}
	.navbar-collapse .dropdown-menu a {
		color: #fff !important;
	}
	.navbar-collapse .dropdown-menu a:hover {
		background: transparent !important;
	}
	.navbar-collapse .dropdown-menu hr {
		border-top: 0px solid #eee;
		border-bottom: 1px solid #333;
	}
	.sidebar {
		margin: 0px;
		float: none;
		width: 100%;
	}
	.sidebar .sidebar-dropdown {
		display: block;
	}
	.sidebar .sidebar-inner {
		display: none;
		max-width: 100vmin;
		padding: 5px 10px;
	}
	.sidebar .sidebar-widget {
		
	}
	.mainbar {
		top: 30px;
		margin: 0px;
		float: none;
	}
	.today-datas {
		text-align: center;
	}
	.slide-box {
		display: none;
	}
}

@media ( min-width : 768px) and (max-width: 979px) {
	.form {
		margin: 0px !important;
	}
	form .control-group {
		margin: 0px !important;
	}
	form .control-label {
		float: none !important;
		width: auto !important;
		text-align: left !important;
	}
	form .controls {
		float: none !important;
		margin-left: 0px !important;
	}
	form .form-actions {
		padding-left: 0px !important;
	}
	.navbar, .navbar-inner {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu {
		color: #bbb !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu a {
		color: #ccc !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu a:hover {
		color: #aaa !important;
	}
	.nav-collapse .dropdown-big .dropdown-menu h5 {
		color: #eee !important;
	}
	.nav-collapse .dropdown-menu {
		padding: 10px 10px !important;
	}
	.nav-collapse .dropdown-menu a {
		color: #fff !important;
	}
	.nav-collapse .dropdown-menu a:hover {
		background: transparent !important;
	}
	.nav-collapse .dropdown-menu hr {
		border-top: 0px solid #eee;
		border-bottom: 1px solid #333;
	}
	.sidebar {
		width: 130px;
	}
	.mainbar {
		margin-left: 135px;
	}
}

.form-horizontal label.checkbox.inline {
	margin-left: 20px;
}

/* ------------------------------------------------------- */

/* 제품재고 열기 버튼 추가 2018-01-12 by sseon 전체 수정 01-17*/
/* .pButton, .pButton::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
} */
.pButton {
	background: #fff;
	width: 98%;
	border: 1px solid #fff;
	/* 	border-radius: 100; */
	/* 	color: #000; */
	font-size: 17px;
	/* 	font-weight: bold; */
	/* 	margin: 5px auto; */
	padding: 5px 5px;
	position: relative;
	text-transform: uppercase;
	/* 	text-decoration: underline; */
}

/* button::before, button::after {
	background: #fff;
	position: absolute;
	z-index: -1;
} */
.pButton:hover {
	
}

.pButton.open {
	color: #fff;
	background-color: #616161;
}

.pButton:before {
	content: "";
	position: absolute;
	left: 10;
	bottom: 0;
	height: 0.5px;
	width: 96%;
	border-bottom: 1px solid #aaaaaa;
}
/* BUTTON 1 */
/* .pButton::after {
	width: 100%;
}

.pButton:hover:after {
	height: 100%;
} */

/* ----------------------------------------------- */
/* 스크롤 강제로 없애기  18-01-16 추가 by sseon*/
/* body {overflow-x: hidden;} */
#pMenu {
	overflow-y: hidden;
	scrollbar-highlight-color: #ff4c8e;
	scrollbar-3dlight-color: #ff4c8e;
	scrollbar-face-color: #ff4c8e;
	scrollbar-shadow-color: #ff4c8e;
	scrollbar-darkshadow-color: white;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #ff4c8e;
	overflow: scroll;
	height: 70vmin;
}

#pMenu::-webkit-scrollbar {
	width: 8px;
	margin-left: 20px;
}

#pMenu::-webkit-scrollbar-button {
	display: block;
	height: 0px;
	background: #fff;
}

#pMenu::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#pMenu::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: #ff4c8e;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#pMenu::-webkit-scrollbar-corner {
	background: #fff;
}

/* ----------------- */

/* 18-01-17 테이블 숨김처리  - 제거*/
/* table {
	display: none;
} */

/* 18-01-17 각메뉴 종류 div 설정*/
#pMenu .pRowMenu {
	font-size: 15px;
}

#pMenu .pRowMenu .menuSubTitle {
	font-size: 12px;
	display: inline-block;
	width: 90%;
}

/* #pMenu .pRowMenu .menuSubTitle:hover {
	color: #fff;
}  */
#pMenu .pRowMenu .menuRight {
	float: right;
	width: 10%;
	height: 100%;
	margin-right: 15px;
	display: inline-block;
}

/* 재고 처리 테이블 */
.pTable {
	width: 95%;
	margin: 0px 7px;
	padding: 10px;
	z-index: 99999;
}

/* 초기 imhome 메뉴 감추기 위한 */
.pRowMenu .pTable{
	display: none;
}
/* .pTable thead{
	text-align: center;
	padding: 5px;
	font-size: 1em;
	border-bottom: 1px dashed #aaa;
} */

.pTable th {
	text-align: center;
	padding: 5px;
	font-size: 0.9em;
	border-bottom: 1px dashed #aaa;
}

.pTable td {
	text-align: center;
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

.pTable td input[type="number"] {
	width: 50%;
	text-align: center;
	border: none;
	outline: none;
}

.pTable button {
	width: 100%;
	background: none;
	border: none;
}

.pSeleted {
	background-color: #ff4c8e;
	color: #fff;
	border-color: #ff4c8e;
}

/* 전체 메뉴 보기 커스터마이즈 18-01-17 */
.allProductBtn {
	background-color: #ffa101;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 3px;
}

/* 주문표란 18-01-17 by sseon*/
.orderContainer {
	background-color: #ff4c8e;
	height: 70vmin;
	padding: 12px;
	color: #fff;
}

.orderContainer .order {
	border: 1px dashed #fff;
	height: 100%;
	padding: 5% 45px;
}

/* 주문표 상단 */
.orderContainer .orderHead {
	border-bottom: 1px dashed #fff;
	width: 100%;
	font-size: 10px;
}

.orderContainer .orderHead .orderTitle {
	display: block;
	font-size: 2em;
	padding: 10px;
}

.orderContainer .orderHead .orderProduct {
	display: inline-block;
	width: 60%;
	padding: 10px 20px;
	text-transform: uppercase;
}

.orderContainer .orderHead .orderPrice {
	display: inline-block;
	width: 35%;
	padding: 10px;
	text-transform: uppercase;
}

/* 제품별 가격  */
.orderContainer .productList {
	font-size: 10px;
	color: #aaa;
	margin: 5px 0px;
	min-height: 60%;
	border-bottom: 1px dashed #fff;
}

.orderContainer .productList ul {
	List-style: none;
	padding: 0px;
}

.orderContainer .productList ul li {
	List-style: none;
	height: 15px;
}

.orderContainer .productList .orderProduct {
	display: inline-block;
	width: 60%;
	padding-left: 20px;
	/* 문자열 생략 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.orderContainer .productList .orderPrice {
	display: inline-block;
	width: 35%;
	padding-left: 10px;
	/* 문자열 생략 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 주문표 스크롤 */
.productList {
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-track-color: #ff4c8e;
	scrollbar-arrow-color: #fff;
	overflow: scroll;
	max-height: 60%;
}

.productList::-webkit-scrollbar {
	width: 3px;
}

.productList::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
	{
	display: block;
	height: 10px;
	background: #ff4c8e;
}

.productList::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.productList::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.productList::-webkit-scrollbar-corner {
	background: #ff4c8e;
}

/* 총 가격 */
.orderContainer .orderTotal {
	display: block;
	margin-bottom: 10px;
	font-size: 10px;
	text-transform: uppercase;
}

.orderContainer .orderTotal .orderProduct {
	display: inline-block;
	width: 60%;
	padding-left: 20px;
}

.orderContainer .orderTotal .orderPrice {
	display: inline-block;
	width: 35%;
	padding-left: 10px;
}

.orderContainer .orderFooter {
	margin-bottom: 10px;
	height: 10%;
}

/* 주문표 하단 버튼 */
.orderBtn {
	background-color: #fff;
	border: 0px;
	color: #ff4c8e;
	width: 100%;
	border-radius: 3px;
}

/* ----------------------------------------------------- */
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/* -------------------------------------------------------- */
/* 레이어 팝업 추가 */
body {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/* 팝업 버튼 스타일 */
.popUp__trigger, .popUp__action {
	padding: 10px 15px;
	display: block;
	-webkit-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	background-color: #ffa101;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 550;
	border-radius: 3px;
}

.popUp__trigger:hover, .popUp__action:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);
	color: #fff;
}

/* .popUp__trigger:focus, .popUp__action:focus {
	outline: 0;
} */

/* 팝업창 */
.popUp {
	background: #fff;
	width: 70%;
	position: absolute;
	/* 팝업 위치 조정 */
	left: calc(50% - 40%);
	top: 0;
	padding: 30px;
	box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
	border: 1px solid #333333;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

.popUp.popUp--active {
	top: 10%;
	visibility: visible;
	opacity: 1;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;
}

/* 팝업 닫기 버튼 */
.popUp .popUp__close {
	font-size: 3rem;
	line-height: 3rem;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	padding: 10px;
	-webkit-transition: color 150ms ease;
	transition: color 150ms ease;
}

.popUp .popUp__close:hover {
	color: #ff4c8e;
}

/* 팝업 타이틀 */
.popUp .popUp__title {
	font-weight: 100;
	margin: 0;
	padding: 0 0 15px 0;
	border-bottom: 2px dashed #000;
}

/* 팝업 내용 */
.popUp .popUp__content {
	font-size: 12px;
	/* 	line-height: 2rem; */ 
	max-height: 50vmin;
}

.popUp .popUp__action {
	margin: 0;
	font-size: 1rem;
}

/* 팝업 테이블 추가 s 18-01-22 by sseon */
.popUp__table {
	display: inline-block;
}

.popUp__table th {
	text-align: center;
	padding: 5px;
	font-size: 1.5em;
	border-bottom: 1px dashed #aaa;
}

.popUp__table td {
	text-align: center;
	font-size: 1em;
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

.popUp__table td input[type="number"] {
	width: 50%;
	text-align: center;
	border: none;
	outline: none;
}

/* 팝업 테이블 추가 e */

/* 팝업 테이블 스크롤 추가  s*/
.popUp__table {
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-face-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-track-color: #ff4c8e;
	scrollbar-arrow-color: #fff;
	overflow: scroll;
	max-height: 50vmin;
}

.popUp__table::-webkit-scrollbar {
	width: 8px;
}

/* 스크롤 하단오른쪽 */
.popUp__table::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{
	height: 0px;
	width: 0px;
}

popUp__table::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.popUp__table::-webkit-scrollbar-thumb {
	background: #ff4c8e;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.popUp__table::-webkit-scrollbar-corner {
/* 	background: #fff; */
}
/* 팝업 테이블 스크롤 추가  e*/

.upDownDiv {
	background-color: #fff;
	color: #000;
	font-weight: 600;
	width: 100%;
	/* 입력창 유지를 위한 padding margin */
	padding: 1px;
	margin: 1px;
	/* 입력창 유지를 위한 padding margin */
	display: inline-block;
	border: 1px solid #aaa;
}

upDownBtn {
	width: 30px;
}